<!DOCTYPE html>
<html>

  <head>

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <meta charset="utf-8">
    <title>Easy Card</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Easy Card</a>
        </div> <!-- /.navbar-header -->

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a href="/download">Download</a></li>
            <% if user_signed_in? %>
              <li><%= link_to "Prototype", prototype_path %></li>
            <% end %>
            <li><a href="/faq">FAQ</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li><%= link_to "Settings", edit_user_registration_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <% else %>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
              <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %> 

        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container -->
    </nav> <!-- /.navbar -->

    <% flash.each do |name, msg| %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      </div>
    <% end %>

    <div id="top" class="jumbotron">
    <div class="container">
        <h1>Welcome to Easy Card</h1>
        <h2><i class="fa fa-quote-left fa-2x pull-left"></i><br> Easy Card fully digitizes business cards and allow you to carry around with you a mini library of contacts in your mobile devices wherever you go. <i class="fa fa-quote-right fa-2x pull-right"></i></h2><br>
        <p><a class="btn btn-warning btn-lg" href="/download">Download <span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
    </div> <!-- /.container -->
    </div> <!-- /.jumbotron -->

    <div class="container">
    <%= yield %>
    </div>

    <footer>
      <div class="container clearfix">
        <p class="pull-left">
          Copyright &copy; Easy Card 2014
        </p>
      </div> <!-- /.container -->
    </footer>

    <script>
      $(".nav-link").click(function(e) {
        e.preventDefault();
        var link = $(this);
        var href = link.attr("href");
        $("html,body").animate({scrollTop: $(href).offset().top - 80}, 500);
        link.closest(".navbar").find(".navbar-toggle:not(.collapsed)").click();
      });
      $(document).ready(function(){
        $(".close").click(function(){
          $(".alert").alert();
          });
        });
    </script>
  </body>
</html>
